Movie_REST/src/wsdl/localhost_8080/MovieSOAP/MovieService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3 (RELEASE-2.4.3-ad3323c; 2019-01-21T17:46:06+0000) JAXWS-RI/2.3.2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://services.moviesoap.mycompany.com/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://services.moviesoap.mycompany.com/" name="MovieService">
<wsp:Policy wsu:Id="MovieServicePortBinding_MTOM_Policy-MovieServicePortBinding_MTOM_Policy">
<ns1:OptimizedMimeSerialization xmlns:ns1="http://schemas.xmlsoap.org/ws/2004/09/policy/optimizedmimeserialization" wsp:Optional="true"/>
</wsp:Policy>
<types>
<xsd:schema>
<xsd:import namespace="http://services.moviesoap.mycompany.com/" schemaLocation="http://localhost:8080/MovieSOAP/MovieService?xsd=1"/>
</xsd:schema>
</types>
<message name="updateMovie">
<part name="parameters" element="tns:updateMovie"/>
</message>
<message name="updateMovieResponse">
<part name="parameters" element="tns:updateMovieResponse"/>
</message>
<message name="viewMovie">
<part name="parameters" element="tns:viewMovie"/>
</message>
<message name="viewMovieResponse">
<part name="parameters" element="tns:viewMovieResponse"/>
</message>
<message name="findMovie">
<part name="parameters" element="tns:findMovie"/>
</message>
<message name="findMovieResponse">
<part name="parameters" element="tns:findMovieResponse"/>
</message>
<message name="addMovie">
<part name="parameters" element="tns:addMovie"/>
</message>
<message name="addMovieResponse">
<part name="parameters" element="tns:addMovieResponse"/>
</message>
<message name="deleteMovie">
<part name="parameters" element="tns:deleteMovie"/>
</message>
<message name="deleteMovieResponse">
<part name="parameters" element="tns:deleteMovieResponse"/>
</message>
<portType name="MovieService">
<operation name="updateMovie">
<input wsam:Action="http://services.moviesoap.mycompany.com/MovieService/updateMovieRequest" message="tns:updateMovie"/>
<output wsam:Action="http://services.moviesoap.mycompany.com/MovieService/updateMovieResponse" message="tns:updateMovieResponse"/>
</operation>
<operation name="viewMovie">
<input wsam:Action="http://services.moviesoap.mycompany.com/MovieService/viewMovieRequest" message="tns:viewMovie"/>
<output wsam:Action="http://services.moviesoap.mycompany.com/MovieService/viewMovieResponse" message="tns:viewMovieResponse"/>
</operation>
<operation name="findMovie">
<input wsam:Action="http://services.moviesoap.mycompany.com/MovieService/findMovieRequest" message="tns:findMovie"/>
<output wsam:Action="http://services.moviesoap.mycompany.com/MovieService/findMovieResponse" message="tns:findMovieResponse"/>
</operation>
<operation name="addMovie">
<input wsam:Action="http://services.moviesoap.mycompany.com/MovieService/addMovieRequest" message="tns:addMovie"/>
<output wsam:Action="http://services.moviesoap.mycompany.com/MovieService/addMovieResponse" message="tns:addMovieResponse"/>
</operation>
<operation name="deleteMovie">
<input wsam:Action="http://services.moviesoap.mycompany.com/MovieService/deleteMovieRequest" message="tns:deleteMovie"/>
<output wsam:Action="http://services.moviesoap.mycompany.com/MovieService/deleteMovieResponse" message="tns:deleteMovieResponse"/>
</operation>
</portType>
<binding name="MovieServicePortBinding" type="tns:MovieService">
<wsp:PolicyReference URI="#MovieServicePortBinding_MTOM_Policy-MovieServicePortBinding_MTOM_Policy"/>
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="updateMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="viewMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="findMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="addMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteMovie">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="MovieService">
<port name="MovieServicePort" binding="tns:MovieServicePortBinding">
<soap:address location="http://localhost:8080/MovieSOAP/MovieService"/>
</port>
</service>
</definitions>